<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
    <link rel='stylesheet' href='/stylesheets/quiz_container.css' />

    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style=" background-color: rgb(153, 48, 251);border-radius: 1em;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                &nbsp<%=title%>&nbsp
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <% if (user){ %>
                            <a class="nav-link active" aria-current="page" href="/your_quiz"><button type="button"
                                    class="btn btn-outline-dark">Your Quiz</button></a>
                            <% }else{ %>
                                <a class="nav-link active" aria-current="page" href="/login"><button type="button"
                                        class="btn btn-outline-dark">Login</button></a>
                                <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user){ %>
                            <a class="nav-link active" aria-current="page" href="/logout"><button type="button"
                                    class="btn btn-outline-dark">Logout</button></a>
                            <% }else{ %>
                                <a class="nav-link active" aria-current="page" href="/register"><button type="button"
                                        class="btn btn-outline-dark">Register</button></a>
                                <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user){ %>
                            <a class="nav-link active" aria-current="page" href="/create_quiz"><button type="button"
                                    class="btn btn-outline-dark">Create</button></a>
                            <% }else{ %>
                                <a class="nav-link disabled" href="/create_quiz" tabindex="-1"
                                    aria-disabled="true"><button type="button"
                                        class="btn btn-outline-dark">Create</button></a>
                                <% } %>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <br><br>
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1400x300/?questions" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <%=indexMsg%>
                        </h5>
                        <p>we hope you're have a great day </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1400x300/?answers" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <%=indexMsg%>
                        </h5>
                        <p>ready for some questions?</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1400x300/?nature" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <%=indexMsg%>
                        </h5>
                        <p>create a quiz and share it with your friends</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br><br>
    <div class="quiz-container">
        <% accounts.forEach((el)=>{ %>
            <div class="card text-dark bg-light mb-3 quiz-objects" style="width: 12rem; height: 10rem;"
                onclick="location.href=`/quiz/<%=el.quizId%>/<%=el.fetchingId%>`">
                <div class="card-body" style="background-color: blueviolet;">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-header" style="text-align: center;">
                    <%=el.quizName%>
                </div>
            </div>
            <% }) %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/quiz_container.js"></script>

</html>