<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
    <link rel='stylesheet' href='/stylesheets/quiz_container.css' />
</head>

<body>
    <div class="index-body">
        <div class="index-header">
            <nav class="navbar navbar-expand-lg navbar-light" style="border-radius: 1em;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/" style="font-size:xx-large;">
                        Quiz App
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <% if (user){ %>
                                    <a class="nav-link active" aria-current="page" href="/your_quiz"><button
                                            type="button" class="btn btn-outline-dark">Your Quiz</button></a>
                                    <% }else{ %>
                                        <a class="nav-link active" aria-current="page" href="/login"><button
                                                type="button" class="btn btn-outline-dark">Login</button></a>
                                        <% } %>
                            </li>
                            <li class="nav-item">
                                <% if (user){ %>
                                    <a class="nav-link active" aria-current="page" href="/logout"><button type="button"
                                            class="btn btn-outline-dark">Logout</button></a>
                                    <% }else{ %>
                                        <a class="nav-link active" aria-current="page" href="/register"><button
                                                type="button" class="btn btn-outline-dark">Register</button></a>
                                        <% } %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/create_quiz"><button type="button"
                                        class="btn btn-outline-dark">Create</button></a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="middle-div">
            <h2>Welcome to Quiz App</h2>
            <div class="split-line"></div>
            <p class="username">
                <%=user%>
            </p>
        </div>
        <div style="text-align: center;">
            <p style="font-size: large;font-family:cursive;">Here are some random Quizs to play</p>
        </div>
        <br><br>
        <div class="quiz-container">
            <% accounts.forEach((el)=>{ %>
                <div class="card text-dark bg-light mb-3 quiz-objects" style="width: 12rem; height: 10rem;"
                    onclick="location.href=`/quiz/<%=el.quizId%>/<%=el.fetchingId%>`">
                    <div class="card-body quiz-box"
                        style="background-image: linear-gradient(rgb(111, 125, 206),rgb(170, 16, 137));">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-header" style="text-align: center;">
                        <%=el.quizName%>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/index.js"></script>

</html>